/* Back/Next navigation styles */

.navigation {
  display: flex;
  margin-top: 0.5em;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  width: 40vw;
  max-width: 700px;
  bottom: calc(50px + 4rem + 50px);
  
  &.first {
    justify-content: flex-end;
  }

  @media only screen and (max-width:1050px) {
    width: 80vw;
    max-width: none;
  }
}

.card:first-of-type .buttons {
  justify-content: flex-end;
}

button,
.submit {
  border: none;
  color: white;
  padding: 2rem 3rem;
  background-color: $accentColour;
  transition: background-color 0.2s ease-in-out;
}

button[disabled],
input[disabled] {
  background-color: $accentColourDisabled;
}

button:hover {
  background-color: $accentColour2;
}

button[disabled]:hover {
  background-color: $accentColourDisabled;
}
