// Question and Answers styles
form {
  width: 50%;
  max-width: 700px;

  @media only screen and (max-width: 1050px) {
    width: 100%;
    max-width: none;
  }
}

.question {
  margin: 0;
  font-size: 2.5rem;
  line-height: 1.5;
}

// Answers styles

.answers {
  height: 85%;
  padding: 10px;
  display: flex;
  max-height: 400px;
  flex-flow: column wrap;
}

.instruction {
  font-size: 1.7rem;
}

label {
  padding: 2rem;
  margin: 0.5em 0;
  cursor: pointer;
  display: block;
  width: fit-content;
  pointer-events: all;
  background-color: white;
  box-shadow: 0 0 7px lightgrey;
  transition: background-color 0.3s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

label:hover,
label:focus,
label:active,
label:focus-within,
label[data-selected = true] {
  color: white;
  background-color: $accentColour;
}

label[data-selected = true] {
  box-shadow: 0 0 7px $accentColour;
}

input.visuallyHidden {
    pointer-events: none;
}
