// Vars

$textColour: #1f1f5e;
$accentColour: #5154e8;
$font: 'Mulish', sans-serif;
$backgroundColour: rgb(250, 244, 241);
$accentColour2: #957fef;
$accentColour3: #EFD9CE;
$accentColourDisabled: #B79CED;